@import url("https://fonts.googleapis.com/css2?family=Allura&family=Bungee+Spice&family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1b3a4b;
}
/* Nav-bar */

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding: 15px 0px;
  background-color: #100e0f;
  border: 5px;
}

.navLinkContainer {
  display: inline-block;
  list-style: none;
}
.navLink::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  background-color: #6c63ff;
  border-radius: 50px;
  bottom: 10px;
  left: 12px;
  transition: width 0.3s ease-in-out;
}
.navLink:hover::before {
  width: 70%;
}
.navLink {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  position: relative;
  padding: 12px 16px;
}

.navLink:hover {
  /* background-color: #333;
  border-radius: 25px; */
}

/* footer */

footer {
  border-top: 2px solid #000;
  text-align: center;
  background-color: #2b2b2b;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
}
.copyText {
  color: #fff;
}

/* Scroll Bar */

/* For (Chrome, Edge, etc.) */
@supports (--css: variables) {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
  }
  ::-webkit-scrollbar:hover {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#21d4fd, #b721ff);
  }
}
/* For Firefox */
@supports (-moz-appearance: none) {
  html {
    scrollbar-width: 10px;
    scrollbar-color: #21d4fd transparent;
  }
}
