body {
  background-image: url("https://media.discordapp.net/attachments/1311355898760921101/1312771869853880421/preview.png?ex=674db593&is=674c6413&hm=2de762b9423e65235be101a3dce72bba080118e1e6150d0a3c6aa069d13aac82&=&format=webp&quality=lossless&width=701&height=701");
}

.moodContainer {
  max-width: 900px;
  margin: 80px auto 20px auto;
  padding: 20px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.moodtitle {
  font-size: 2rem;
  color: #fff;
  animation: fadeIn 2s ease;
}

.moodtext {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
  animation: fadeIn 2s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  animation: fadeIn 2s ease;
}

.emojiContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows emojis to wrap on smaller screens */
  gap: 20px;
  animation: fadeIn 2s ease;
}

.emoji {
  font-size: 3em;
  height: 70px;
  width: 70px;
  background-color: #0066cc;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  animation: fadeIn 2s ease;
}
.emoji:checked {
  background-color: #30cc00;
}

.moodOption {
  display: none;
}

.moodOption + label {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.moodOption + label:hover .emoji {
  background-color: rgba(0, 102, 204, 0.3);
}

.moodOption:checked + .emoji {
  background-color: #6dcc00;
}
.moodOption:hover + .emoji {
  transform: scale(1.2);
}

button {
  padding: 12px 20px;
  background-color: #0066cc;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 220px;
  transition: background-color 0.3s ease;
  animation: fadeIn 2s ease;
}

button:hover {
  background-color: #005bb5;
}

.predictedMental {
  color: #fff;
  font-size: 1.2rem;
  animation: fadeIn 2s ease;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .moodContainer {
    padding: 20px 10px;
  }

  .moodtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .moodContainer {
    width: 90%;
    margin: 20px auto;
    gap: 15px;
  }

  .moodtitle {
    font-size: 1.6rem;
  }

  .emojiContainer {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .moodContainer {
    padding: 10px;
  }

  .moodtitle {
    font-size: 1.4rem;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
