:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-weight: bold;
}

input,
button {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #555;
}
/* main-body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header.hero {
  text-align: center;
  padding: 2rem;
  background-color: #4caf50;
  color: white;
  margin-top: 68px;
}

header.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header.hero p {
  font-size: 1.2rem;
}

.cta-buttons .btn {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  color: white;
  background-color: #333;
  border-radius: 5px;
}

.cta-buttons .btn-secondary {
  background-color: #555;
}

section {
  padding: 1.5rem;
  text-align: center;
}

footer {
  text-align: center;
  background-color: #f4f4f4;
  padding: 1rem 0;
}
