<head>
  <link rel="stylesheet" href="/static/css/style_about.css" />
  <!-- <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style_about.css') }}"
  /> -->
</head>

{% extends "base.html" %}{% block content %}
<div class="sec-1">
  <h1 class="head01">About Us</h1>
  <p class="p1">Telling our inspiring from the very beginning to our days</p>
</div>
<div class="card_1">
  <div class="sec-2">
    <h1 class="head02">Behind The Success</h1>
    <p class="p2">
      Established just a few years ago we are young and motivated company full
      of new ideas and energy.During the past year we have acheived a vide range
      of projects.
    </p>
  </div>
  <div class="imgSection">
    <h1>Chris Spring</h1>
    <p>CEO & Founder</p>
    <img
      src="https://images.pexels.com/photos/6326188/pexels-photo-6326188.jpeg?auto=compress&cs=tinysrgb&w=600"
      class="img1"
      alt="hello"
    />
  </div>
  <!-- <hr class="line"> -->
</div>
<div class="card_1">
  <div class="imgSection">
    <h1>Chris Spring</h1>
    <p>CEO & Founder</p>
    <img
      src="https://images.pexels.com/photos/6326188/pexels-photo-6326188.jpeg?auto=compress&cs=tinysrgb&w=600"
      class="img1"
      alt="hello"
    />
  </div>
  <div class="sec-2">
    <h1 class="head02">Behind The Success</h1>
    <p class="p2">
      Established just a few years ago we are young and motivated company full
      of new ideas and energy.During the past year we have acheived a vide range
      of projects.
    </p>
  </div>
</div>
<div class="card_1">
  <div class="sec-2">
    <h1 class="head02">Behind The Success</h1>
    <p class="p2">
      Established just a few years ago we are young and motivated company full
      of new ideas and energy.During the past year we have acheived a vide range
      of projects.
    </p>
  </div>
  <div class="imgSection">
    <h1>Chris Spring</h1>
    <p>CEO & Founder</p>
    <img
      src="https://images.pexels.com/photos/6326188/pexels-photo-6326188.jpeg?auto=compress&cs=tinysrgb&w=600"
      class="img1"
      alt="hello"
    />
  </div>
</div>
<div class="card_1">
  <div class="imgSection">
    <h1>Chris Spring</h1>
    <p>CEO & Founder</p>
    <img
      src="https://images.pexels.com/photos/6326188/pexels-photo-6326188.jpeg?auto=compress&cs=tinysrgb&w=600"
      class="img1"
      alt="hello"
    />
  </div>
  <div class="sec-2">
    <h1 class="head02">Behind The Success</h1>
    <p class="p2">
      Established just a few years ago we are young and motivated company full
      of new ideas and energy.During the past year we have acheived a vide range
      of projects.
    </p>
  </div>
</div>
{% endblock %}
