<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoMoodBank</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_base.css') }}"
    />
  </head>
  <body>
    <nav>
      <div id="big-nav">
        <h1 class="logo">CryptoMoodBank</h1>
        <ul>
          <li class="navLinkContainer">
            <a class="navLink" class="active" href="/">Home</a>
          </li>
          <li class="navLinkContainer">
            <a class="navLink" href="/mood">Mood</a>
          </li>
          <li class="navLinkContainer">
            <a class="navLink" href="/dashboard">Dashboard</a>
          </li>
          <li class="navLinkContainer">
            <a class="navLink" href="/about">About</a>
          </li>
        </ul>
        <button id="short-menu-button" onclick="toggleModal()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </button>
      </div>

      <ul id="short-menu" class="hidden">
        <li class="navLinkContainer">
          <a class="navLink" class="active" href="/">Home</a>
        </li>
        <li class="navLinkContainer">
          <a class="navLink" href="/mood">Mood</a>
        </li>
        <li class="navLinkContainer">
          <a class="navLink" href="/dashboard">Dashboard</a>
        </li>
        <li class="navLinkContainer">
          <a class="navLink" href="/about">About</a>
        </li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer>
      <p class="copyText">&copy; 2024 CryptoMoodBank. All rights reserved.</p>
      <a href="/privacy">Privacy Policy</a> |
      <a href="/terms">Terms of Service</a>
    </footer>

    <script>
      const shortMenu = document.getElementById("short-menu");
      function toggleModal() {
        shortMenu.classList.toggle("hidden");
      }
    </script>
  </body>
</html>
