<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style_mood.css') }}"
  />
</head>

{% extends "base.html" %} {% block content %}

<div class="moodContainer">
  <h1 class="moodtitle">Select Your Mood</h1>
    <p>How are you feeling today?</p>
    <form method="POST" action="/mood">
      <div class="emojiContainer">
        <label>
          <input type="radio" name="mood" value="happy" class="moodOption" />
          <div class="emoji">😊</div>
        </label>
        <label>
          <input type="radio" name="mood" value="sad" class="moodOption" />
          <div class="emoji">😞</div>
        </label>
        <label>
          <input type="radio" name="mood" value="neutral" class="moodOption" />
          <div class="emoji">😐</div>
        </label>
        <label>
          <input type="radio" name="mood" value="excited" class="moodOption" />
          <div class="emoji">😄</div>
        </label>
        <label>
          <input
            type="radio"
            name="mood"
            value="surprised"
            class="moodOption"
          />
          <div class="emoji">😲</div>
        </label>
      </div>
  <form method="POST" action="/mood">
    <input
      type="number"
      name="happy_mood"
      placeholder="Happy Mood (1 or 0)"
      required
    />
    <input
      type="number"
      name="sad_mood"
      placeholder="Sad Mood (1 or 0)"
      required
    />
    <input
      type="number"
      name="neutral_mood"
      placeholder="Neutral Mood (1 or 0)"
      required
    />
    <input
      type="number"
      name="weekend"
      placeholder="Weekend (1 or 0)"
      required
    />
    <input
      type="number"
      name="hours_of_sleep"
      placeholder="Hours of Sleep"
      required
    />
    <button type="submit">Add Mood</button>
  </form>

  <!-- Display predicted mental state -->
  <h2>Your Predicted Mental State: {{ prediction_result }}</h2>

  <div id="stats">
    <h2 class="statstitle">Weekly Stats</h2>
    <div id="weeklyStats">
      {% for mood in moods %}
      <p class="weeklyStatsText">
        {{ mood.date }} - Mood: {{ mood.mood }} - Reward: {{ mood.reward }}
        coins
      </p>
      {% endfor %}
    </div>
    <h2 class="statstitle">Total Coin Rewards for the Month</h2>
    <div id="totalRewards">{{ total_rewards }} coins</div>
  </div>
</div>
  {% endblock %}

