<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style_mood.css') }}"
  />
</head>

{% extends "base.html" %} {% block content %}
<div class="moodContainer">
  <div class="moodwrapper">
    <h1 class="moodtitle">Select Your Mood</h1>
    <p>How are you feeling today?</p>
    <form method="POST" action="/mood">
      <div class="emojiContainer">
        <label>
          <input type="radio" name="mood" value="happy" class="moodOption" />
          <div class="emoji">😊</div>
        </label>
        <label>
          <input type="radio" name="mood" value="sad" class="moodOption" />
          <div class="emoji">😞</div>
        </label>
        <label>
          <input type="radio" name="mood" value="neutral" class="moodOption" />
          <div class="emoji">😐</div>
        </label>
        <label>
          <input type="radio" name="mood" value="excited" class="moodOption" />
          <div class="emoji">😄</div>
        </label>
        <label>
          <input
            type="radio"
            name="mood"
            value="surprised"
            class="moodOption"
          />
          <div class="emoji">😲</div>
        </label>
      </div>
      <button type="submit">Confirm Mood</button>
    </form>
  </div>

  <div id="stats">
    <h2 class="statstitle">Weekly Stats</h2>
    <div id="weeklyStats">
      {% for mood in moods %}
      <p class="weeklyStatsText">
        {{ mood.date }} - Mood: {{ mood.mood }} - Reward: {{ mood.reward }}
        coins
      </p>
      {% endfor %}
    </div>
    <h2 class="statstitle">Total Coin Rewards for the Month</h2>
    <div id="totalRewards">{{ total_rewards }} coins</div>
  </div>
</div>
{% endblock %}
