<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style_signup.css') }}"
  />
</head>

{% extends "base.html" %} {% block content %}
<!-- login -->

<div class="signupContainer">
  <div class="signupWarpper">
    <h1 class="signupText">SIGN UP</h1>
    <form action="/signup" method="POST">
      <p for="username" class="usernameText">Username</p>
      <input type="text" id="username" name="username" required />
      <p for="email" class="emailText">Email</p>
      <input type="email" id="email" name="email" required />
      <p for="password" class="passwordText">Password</p>
      <input
        type="password"
        id="password"
        minlength="6"
        name="password"
        required
      />
      <button class="signupBtn hov" type="submit">Register</button>
    </form>
  </div>
</div>

{% endblock %}
